html {
  background-color: rgb(24, 24, 24);
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1em;
  background-color: rgb(16, 16, 16);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid white;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 3em;
  color: white;
}

.reload-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.reload {
  background-color: white;
  padding: 4px 8px;
  margin-right: 20px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
}

.reload:hover {
  opacity: 0.9;
}

.body {
  display: flex;
  flex: 1;
}

.label {
  margin: 0;
  color: rgb(32, 32, 32);
}
