.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: transparent;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 35%;
}

.text {
  flex: 1;
  text-align: justify;
}

.button {
  flex: 1;
  margin-top: 4px;
  width: fit-content;
  background-color: lightgrey;
  display: flex;
  padding: 4px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}
